Source: heimdall-astro
Section: science
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>=9), dh-autoreconf, dedisp-ajameson-dev,
 libthrust-dev, libboost-dev, psrdada, nvidia-cuda-toolkit
Standards-Version: 3.9.8
Homepage: https://sourceforge.net/projects/heimdall-astro/

Package: heimdall-astro
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GPU accelerated transient detection pipeline for radio astronomy
